<div class="app-boards-wrapper">
  <div class="container">
    <div class="app-boards-container">
      <div class="app-personal-board">
        <div class="app-personal-board-header">
          <h3><i class="far fa-user"></i>&nbsp;Personal Boards</h3>
        </div>
        <div class="app-personal-board-body">
          <div class="row m-0">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="app-personal-board-box" clickable>
                <div class="row m-0">
                  <div class="col-12 col-md-10 text-left p-0">
                    <div class="app-personal-board-box-name">My first personal baord</div>
                  </div>
                  <div class="col-12 col-md-2 text-right p-0">
                    <div class="app-personal-board-box-fav">
                      <button type="button" name="fav"><i class="far fa-star"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button mat-raised-button class="app-personal-board-box-new col-12 col-md-4 col-lg-3">
              <ul class="text-center list-unstyled p-0 m-0">
                <li><i class="fas fa-plus fa-2x"></i></li>
                <li>Add New Board</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="app-boards-container">
      <div class="app-personal-board">
        <div class="app-personal-board-header">
          <div class="row m-0">
            <div class="col p-0 mr-auto">
              <h3><i class="fas fa-users"></i>&nbsp;Team Boards</h3>
            </div>
            <div class="col p-0 ml-auto text-right">
              <button mat-button><i class="fas fa-th"></i>&nbsp;Boards</button>
              <button mat-button><i class="far fa-user"></i>&nbsp;Members</button>
              <button mat-button><i class="fas fa-cog"></i>&nbsp;Settings</button>
            </div>
          </div>
        </div>
        <div class="app-personal-board-body">
          <div class="row m-0">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="app-personal-board-box" clickable>
                <div class="row m-0">
                  <div class="col-12 col-md-10 text-left p-0">
                    <div class="app-personal-board-box-name">My first Team baord</div>
                  </div>
                  <div class="col-12 col-md-2 text-right p-0">
                    <div class="app-personal-board-box-fav">
                      <button type="button" name="fav"><i class="far fa-star"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button mat-raised-button class="app-personal-board-box-new col-12 col-md-4 col-lg-3">
              <ul class="text-center list-unstyled p-0 m-0">
                <li><i class="fas fa-plus fa-2x"></i></li>
                <li>Add New Board</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="app-boards-container">
      <div class="app-personal-board">
        <div class="app-personal-board-header">
          <div class="row m-0">
            <div class="col p-0 mr-auto">
              <h3><i class="fas fa-users"></i>&nbsp;Team Boards</h3>
            </div>
            <div class="col p-0 ml-auto text-right">
              <button mat-button><i class="fas fa-th"></i>&nbsp;Boards</button>
              <button mat-button><i class="far fa-user"></i>&nbsp;Members</button>
              <button mat-button><i class="fas fa-cog"></i>&nbsp;Settings</button>
            </div>
          </div>
        </div>
        <div class="app-personal-board-body">
          <div class="row m-0">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="app-personal-board-box" clickable>
                <div class="row m-0">
                  <div class="col-12 col-md-10 text-left p-0">
                    <div class="app-personal-board-box-name">My first Team baord</div>
                  </div>
                  <div class="col-12 col-md-2 text-right p-0">
                    <div class="app-personal-board-box-fav">
                      <button type="button" name="fav"><i class="far fa-star"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button mat-raised-button class="app-personal-board-box-new col-12 col-md-4 col-lg-3">
              <ul class="text-center list-unstyled p-0 m-0">
                <li><i class="fas fa-plus fa-2x"></i></li>
                <li>Add New Board</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="app-boards-container">
      <div class="app-personal-board">
        <div class="app-personal-board-header">
          <div class="row m-0">
            <div class="col p-0 mr-auto">
              <h3><i class="fas fa-users"></i>&nbsp;Team Boards</h3>
            </div>
            <div class="col p-0 ml-auto text-right">
              <button mat-button><i class="fas fa-th"></i>&nbsp;Boards</button>
              <button mat-button><i class="far fa-user"></i>&nbsp;Members</button>
              <button mat-button><i class="fas fa-cog"></i>&nbsp;Settings</button>
            </div>
          </div>
        </div>
        <div class="app-personal-board-body">
          <div class="row m-0">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="app-personal-board-box" clickable>
                <div class="row m-0">
                  <div class="col-12 col-md-10 text-left p-0">
                    <div class="app-personal-board-box-name">My first Team baord</div>
                  </div>
                  <div class="col-12 col-md-2 text-right p-0">
                    <div class="app-personal-board-box-fav">
                      <button type="button" name="fav"><i class="far fa-star"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button mat-raised-button class="app-personal-board-box-new col-12 col-md-4 col-lg-3">
              <ul class="text-center list-unstyled p-0 m-0">
                <li><i class="fas fa-plus fa-2x"></i></li>
                <li>Add New Board</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
