<div class="container">
  <div class="app-boards-container">
    <div class="app-personal-board">
      <div class="app-personal-board-header">
        <h3><i class="far fa-user"></i>&nbsp;Personal Boards</h3>
      </div>
      <div class="app-personal-board-body">
        <div class="row m-0">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="app-personal-board-box" clickable>
              <div class="row m-0">
                <div class="col-12 col-md-10 text-left p-0">
                  <div class="app-personal-board-box-name">My first personal baord</div>
                </div>
                <div class="col-12 col-md-2 text-right p-0">
                  <div class="app-personal-board-box-fav">
                    <button type="button" name="fav"><i class="far fa-star"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-boards-container">
    <div class="app-personal-board">
      <div class="app-personal-board-header">
        <h3><i class="far fa-user"></i>&nbsp;Personal Boards</h3>
      </div>
      <div class="app-personal-board-body">
        <div class="row m-0">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="app-personal-board-box" clickable>
              <div class="row m-0">
                <div class="col-12 col-md-10 text-left p-0">
                  <div class="app-personal-board-box-name">My first personal baord</div>
                </div>
                <div class="col-12 col-md-2 text-right p-0">
                  <div class="app-personal-board-box-fav">
                    <button type="button" name="fav"><i class="far fa-star"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
