.dashboard-container{
  height: 100vh;
  /*background: linear-gradient(#2B19AF, #812FE8);*/
  background-color: #F5F5F5;
  overflow:hidden;
}
.dashboard-container /deep/ .mat-drawer-content{
  overflow: hidden;
}
.dashboard-container /deep/ .mat-drawer-backdrop.mat-drawer-shown{
  background: #ffffff;
}
.dashboard-container .dashboard-drawer-container{
  background: linear-gradient(#812FE8,#2B19AF);
}
.dashboard-container .dashboard-drawer-container .dashboard-drawer-btn{
}
.dashboard-container .dashboard-drawer-container .dashboard-drawer-btn button{
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
}
.dashboard-container .dashboard-drawer-container .dashboard-drawer-btn button /deep/ .mat-button-focus-overlay{
  background-color: transparent;
}
.dashboard-container .dashboard-leftDrawer{}
.dashboard-container .dashboard-leftDrawer-toggler{
  position: absolute;
  top:50%;
  left:-30px;
  transform:translateY(-28px);
  background-color: transparent;
  z-index:10;
}
.dashboard-container .dashboard-leftDrawer-toggler button {
  padding: 0;
  background-color: #812FE8;
  color: #ffffff;
}
.dashboard-container .dashboard-leftDrawer-toggler button i{
  font-size: 40px;
  padding-left: 20px;
}
.dashboard-container .dashboard-leftDrawer-toggler /deep/ .mat-button-wrapper{
  padding:0;
}
.dashboard-container .dashboard-rightDrawer{}
.dashboard-container .dashboard-rightDrawer .dashboard-rightDrawer-profile{}
.dashboard-container .dashboard-rightDrawer .dashboard-rightDrawer-profile .dashboard-rightDrawer-profile-img{
  border:5px solid #ffffff;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.dashboard-container .dashboard-rightDrawer .dashboard-rightDrawer-profile .dashboard-rightDrawer-profile-text{
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 0;
}
.dashboard-container .dashboard-rightDrawer .dashboard-rightDrawer-profile .dashboard-rightDrawer-profile-text button{
  border:none;
  color: #ffffff;
  background-color: transparent;
  transition: .3s all;
  cursor: pointer;
}
.dashboard-container .dashboard-rightDrawer .dashboard-rightDrawer-profile .dashboard-rightDrawer-profile-text button:hover{
  background-color: rgba(0,0,0,.05);
}
.dashboard-wrapper{
  /*overflow-y: auto;*/
  /*max-height: 100vh;*/
  padding: 50px 0;
  overflow: hidden;
}
.dashboard-wrapper .dashboard-nav .navbar{
  /*background: linear-gradient(to right, #2B19AF, #812FE8);*/
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  min-height:50px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-brand{
  color: #812FE8;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item button{
  height: 50px;
  min-width:70px;
  padding: 0;
  color: #812FE8;
  border-radius: 0;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item button /deep/ .mat-button-focus-overlay{
  background-color: rgba(0,0,0,.05);
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item button i{
  font-size: 30px;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item{
  border-left: 1px solid #dddddd;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item.dashboard-nav-navbar-input{
  border:1px solid #dddddd;
  border-radius: 50px;
  max-height: 36px;
  margin: 7px;
  display:flex;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item.dashboard-nav-navbar-input span{
  display: inline-block;
  color: #812FE8;
  position: relative;
  top:5px;
  left:5px;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item.dashboard-nav-navbar-input input{
  border:none;
  font-size:22px;
  background-color: transparent;
  padding: 0 5px;
}

.dashboard-footer{
  background-color: #ffffff;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
}
.dashboard-footer ul li{
  padding:5px;
  border-right: 1px solid #dddddd;
  font-size: 11px;
}
/deep/ .ng-scrollbar{
  /*background-color: #812FE8;*/
  box-shadow: inset 0 0 0 2px #812FE8;
  border-radius: 10px!important;
  width:10px!important;
}
/deep/ .-vertical .ng-scrollbar-thumb{
  background-color: #812FE8;
}
/deep/ .ng-scrollbar-thumb:hover, /deep/ .ng-scrollbar-thumb:active{
  background-color: #2B19AF!important;
}
