.dashboard-container{}
.dashboard-container .dashboard-sidenav-close button{
  color: #2B19AF;
  padding: 0;
  min-width: 50px;
  font-weight:bold;
  border-radius: 0;
}
.dashboard-container .dashboard-sidenav-close button i{
  font-size: 30px;
}
.dashboard-container .dashboard-sidenav-profile {
  padding-bottom: 10px;
}
.dashboard-container .dashboard-sidenav-profile ul{
  list-style-type: none;
}
.dashboard-container .dashboard-sidenav-profile ul li{
  font-weight: bold;
  color: #000000;
  padding: 5px;
}
.dashboard-container .dashboard-sidenav-profile ul li:first-child{
  margin: 5px auto;
  max-width: 100px;
  max-height:100px;
  border-radius: 100%;
  overflow: hidden;
  padding: 0;
}
.dashboard-container .dashboard-sidenav-profile ul li:first-child img{
  width:100%;
  height:100%;
  border-radius: 100%;
}
.dashboard-wrapper{
  min-height: 100vh;
}
.dashboard-wrapper .dashboard-nav{}
.dashboard-wrapper .dashboard-nav .navbar{
  /*background-color: #2B19AF;*/
  background: linear-gradient(to right, #2B19AF, #812FE8);
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  min-height:50px;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-brand{
  color: #812FE8;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item{
  border-left: 1px solid #dddddd;
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item button{
  height: 50px;
  min-width:70px;
  padding: 0;
  background-color: rgba(0,0,0,.12);
}
.dashboard-wrapper .dashboard-nav .navbar .navbar-nav .nav-item button i{
  font-size: 30px;
}

